.listerHistorique-container {
    width: 100%;
    min-height: 95vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 100, 180);
    padding: 20px;
}

.listerHistorique-title h1 {
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    cursor: default;
}

.listerHistorique-title h1:hover {
    color: rgb(0, 140, 255);
}

.listerHistorique-container .listerHistorique-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    min-width: 450px;
    max-width: fit-content;
    border-radius: 2%;
    padding: 2%;
    box-shadow: 0 0 20px 5px rgba(40, 40, 90, 0.5);
}

.listerHistorique-container .listerHistorique-form .input-control {
    width: 250px;
    margin: 8px;
}

.listerHistorique-form label {
    font-weight: 550;
    color: rgb(0, 0, 0);
}

/*input*/
.listerHistorique-form .input-control input,
.listerHistorique-form .input-control select {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    border: 2px solid;
    transition: 0.5s;
    width: 260px;
}

.listerHistorique-form .input-control.neutral input:hover,
.listerHistorique-form .input-control.neutral select:hover {
    background-color: rgb(213, 213, 213);
    box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.listerHistorique-form .input-control input:focus,
.listerHistorique-form .input-control select:focus {
    outline: 0;
}

.listerHistorique-form .submitButton {
    margin: 20px;
}

.listerHistorique-form .submitButton button {
    margin: 10px;
    height: 30px;
    width: 100px;
    transition: 0.2s;
    border: 2px solid black;
}

.listerHistorique-form .valider:hover {
    color: white;
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

.listerHistorique-form .reinitialiser:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.listerHistorique-form .input-control.success input,
.listerHistorique-form .input-control.success select {
    border-color: rgb(0, 150, 0);
}

.listerHistorique-form .input-control.error input,
.listerHistorique-form .input-control.error select {
    border-color: red;
}

.listerHistorique-form .input-control.error input:hover,
.listerHistorique-form .input-control.error select:hover {
    background-color: rgb(255, 200, 200);
    box-shadow: 0 0 20px 5px rgba(255, 145, 145, 0.5);
}

.listerHistorique-form .input-control.success input:hover,
.listerHistorique-form .input-control.success select:hover {
    background-color: rgb(200, 255, 200);
    box-shadow: 0 0 20px 5px rgba(145, 255, 145, 0.5);
}

.listerHistorique-form .input-control.neutral input,
.listerHistorique-form .input-control.neutral select {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.listerHistorique-form .input-control.error .errorMessage {
    font-size: 0.8em;
    color: red;
    margin-left: 10px;
}

.listerHistorique-form .input-control.success .errorMessage {
    font-size: 0.8em;
    color: rgb(0, 150, 0);
    margin-left: 10px;
}

.listerHistorique-form .message.error {
    font-size: 0.8em;
    color: red;
    margin-left: 10px;
}

.listerHistorique-form .message.success {
    font-size: 0.8em;
    color: rgb(0, 150, 0);
    margin-left: 10px;
}

.historiques-table {
    margin-top: 30px;
    width: 100%;
}

.historiques-table table {
    width: 100%;
    border-collapse: collapse;
}

.historiques-table th,
.historiques-table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.historiques-table th{
    background-color: rgb(243, 243, 243);
}

.historiques-table td{
    background-color: #6791bd;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 0 5px;
}

.pagination button.active {
    background-color: #007bff;
    color: white;
    border: none;
}

.pagination .ajouter-button {
    transition: 0.2s;
    border: 2px solid black;
}

.pagination .ajouter-button:hover {
    color: white;
    background-color: green;
}

.nombreResultats{
    font-size: 20px;
    font-weight: 600 ;
    color: white;
}
