.passwordResetPage-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 100, 180);
}

.logo-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 20vh; 
}

.logo-container .logo {
    height: 20vh;
}

.passwordResetPage-title h1 {
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    cursor: default;
}

.passwordResetPage-title h1:hover {
    color: rgb(0, 140, 255);
}

.passwordResetPage-container .passwordResetPage-form {
    background-color: rgb(243, 243, 243);
    min-width: 450px;
    border-radius: 2%;
    padding: 5%;
    box-shadow: 0 0 20px 5px rgba(40, 40, 90, 0.5);
}

.passwordResetPage-form label {
    font-weight: 550;
    color: rgb(0, 0, 0);
}

.passwordResetPage-form .input-control input {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    border: 2px solid;
    transition: 0.5s;
    width: 250px;
}

.passwordResetPage-form .input-control.neutral input:hover {
    background-color: rgb(213, 213, 213);
    box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.passwordResetPage-form .input-control {
    margin: 15px;
}

.passwordResetPage-form .input-control input:focus {
    outline: 0;
}

.passwordResetPage-form .submitButton {
    margin: 20px;
}

.passwordResetPage-form .submitButton button {
    margin: 10px;
    height: 30px;
    width: 100px;
    transition: 0.2s;
    border: 2px solid black;
}

.passwordResetPage-form .valider:hover {
    color: white;
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

.passwordResetPage-form .reinitialiser:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

.passwordResetPage-form .input-control.success input {
    border-color: rgb(0, 150, 0);
}

.passwordResetPage-form .input-control.error input {
    border-color: red;
}

.passwordResetPage-form .input-control.error input:hover {
    background-color: rgb(255, 200, 200);
    box-shadow: 0 0 20px 5px rgba(255, 145, 145, 0.5);
}

.passwordResetPage-form .input-control.success input:hover {
    background-color: rgb(200, 255, 200);
    box-shadow: 0 0 20px 5px rgba(145, 255, 145, 0.5);
}

.passwordResetPage-form .input-control.neutral input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.passwordResetPage-form .input-control.error .errorMessage {
    font-size: 0.8em;
    color: red;
    margin-left: 10px;
}

.passwordResetPage-form .input-control.success .errorMessage {
    font-size: 0.8em;
    color: rgb(0, 150, 0);
    margin-left: 10px;
}
