.listerProfiles-container {
    width: 100%;
    min-height: 95vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 100, 180);
}

.listerProfiles-title h1 {
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    cursor: default;
}

.listerProfiles-title h1:hover {
    color: rgb(0, 140, 255);
}

.listerProfiles-container .listerProfiles-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    min-width: 450px;
    max-width: fit-content;
    border-radius: 2%;
    padding: 2%;
    box-shadow: 0 0 20px 5px rgba(40, 40, 90, 0.5);
}

.listerProfiles-container .listerProfiles-form .input-control {
    width: 250px;
    margin: 8px;
}

.listerProfiles-form label {
    font-weight: 550;
    color: rgb(0, 0, 0);
}

/*input*/
.listerProfiles-form .input-control input {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    border: 2px solid;
    transition: 0.5s;
    width: 250px;
}

.listerProfiles-form .input-control #id {
    color: rgb(165, 165, 165);
}

.listerProfiles-form .input-control #id-label{
    color: grey;
}

.listerProfiles-form .input-control.neutral input:hover {
    background-color: rgb(213, 213, 213);
    box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.listerProfiles-form .input-control select {
    margin: 5px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    border: 2px solid;
    transition: 0.5s;
    width: 260px;
}

.listerProfiles-form .input-control.neutral select:hover {
    background-color: rgb(213, 213, 213);
    box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.listerProfiles-form .input-control {
    margin: 15px;
}

.listerProfiles-form .input-control input:focus {
    outline: 0;
}

/*buttons*/
.listerProfiles-form .submitButton {
    margin: 20px;
}

.listerProfiles-form .submitButton button {
    margin: 10px;
    height: 30px;
    width: 100px;
    transition: 0.2s;
    border: 2px, solid, black;
}

.listerProfiles-form .valider:hover {
    color: white;
    background-color: rgb(0, 150, 0);
    cursor: pointer;
}

.listerProfiles-form .reinitialiser:hover {
    color: white;
    background-color: red;
    cursor: pointer;
}

/*error messages*/
.listerProfiles-form .input-control.success input,
.listerProfiles-form .input-control.success select {
    border-color: rgb(0, 150, 0);
}

.listerProfiles-form .input-control.error input,
.listerProfiles-form .input-control.error select {
    border-color: red;
}

.listerProfiles-form .input-control.error select
{
background-color: rgb(255, 200, 200);
box-shadow: 0 0 20px 5px rgba(255, 145, 145, 0.5);
}

.listerProfiles-form .input-control.success input
,
.listerProfiles-form .input-control.success select
{
background-color: rgb(200, 255, 200);
box-shadow: 0 0 20px 5px rgba(145, 255, 145, 0.5);
}

.listerProfiles-form .input-control.neutral input,
.listerProfiles-form .input-control.neutral select {
background-color: rgb(255, 255, 255);
border-color: rgb(0, 0, 0);
}

.listerProfiles-form .input-control.error .errorMessage {
font-size: 0.8em;
color: red;
margin-left: 10px;
}

.listerProfiles-form .input-control.success .errorMessage {
font-size: 0.8em;
color: rgb(0, 150, 0);
margin-left: 10px;
}

.listerProfiles-form .message.error {
font-size: 0.8em;
color: red;
margin-left: 10px;
}

.listerProfiles-form .message.success {
font-size: 0.8em;
color: rgb(0, 150, 0);
margin-left: 10px;
}

.profiles-table {
    margin-top: 30px;
    width: 100%;
  }
  
  .profiles-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .profiles-table th,
  .profiles-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  .profiles-table th{
    background-color: rgb(243, 243, 243);
  }

  .profiles-table td{
    background-color: #6791bd;
  }
