.ajouterUtilisateur-bouttonRetour{
  height: 5vh;
  display: flex;
  background-color: rgb(0, 100, 180);
  
}

.ajouterUtilisateur-bouttonRetour button{
  margin: 10px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: rgb(243, 243, 243);
  color: rgb(0, 100, 180);
  transition: 0.2s;
}

.ajouterUtilisateur-bouttonRetour button:hover{
  background-color: rgb(131, 164, 255);
  color: white;
  box-shadow: 0 0 20px 5px rgba(118, 177, 255, 0.5);
}



.ajouterUtilisateur-container {
  width: 100%;
  min-height: 95vh;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 100, 180);
}

.ajouterUtilisateur-title h1 {
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
  cursor: default;
}

.ajouterUtilisateur-title h1:hover {
  color: rgb(0, 140, 255);
}

.ajouterUtilisateur-container .ajouterUtilisateur-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 243, 243);
  min-width: 450px;
  max-width: fit-content;
  border-radius: 2%;
  padding: 2%;
  box-shadow: 0 0 20px 5px rgba(40, 40, 90, 0.5);
}

.ajouterUtilisateur-container .ajouterUtilisateur-form .input-control {
    width: 250px;
  margin: 8px;
}

.ajouterUtilisateur-form label {
  font-weight: 550;
  color: rgb(0, 0, 0);
}

/*input*/
.ajouterUtilisateur-form .input-control input {
  display: flex;
  flex-direction: row;
  margin: 5px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  border: 2px solid;
  transition: 0.5s;
  width: 250px;
}

.ajouterUtilisateur-form .input-control.neutral input:hover {
  background-color: rgb(213, 213, 213);
  box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.ajouterUtilisateur-form .input-control select {
  margin: 5px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  border: 2px solid;
  transition: 0.5s;
  width: 260px;
}

.ajouterUtilisateur-form .input-control.neutral select:hover {
  background-color: rgb(213, 213, 213);
  box-shadow: 0 0 20px 5px rgba(207, 228, 255, 0.5);
}

.ajouterUtilisateur-form .input-control {
  margin: 15px;
}

.ajouterUtilisateur-form .input-control input:focus {
  outline: 0;
}

/*buttons*/
.ajouterUtilisateur-form .submitButton {
  margin: 20px;
}

.ajouterUtilisateur-form .submitButton button {
  margin: 10px;
  height: 30px;
  width: 100px;
  transition: 0.2s;
  border: 2px, solid, black;
}

.ajouterUtilisateur-form .valider:hover {
  color: white;
  background-color: rgb(0, 150, 0);
  cursor: pointer;
}

.ajouterUtilisateur-form .reinitialiser:hover {
  color: white;
  background-color: red;
  cursor: pointer;
}

/*error messages*/
.ajouterUtilisateur-form .input-control.success input,
.ajouterUtilisateur-form .input-control.success select {
  border-color: rgb(0, 150, 0);
}

.ajouterUtilisateur-form .input-control.error input,
.ajouterUtilisateur-form .input-control.error select {
  border-color: red;
}

.ajouterUtilisateur-form .input-control.error input:hover,
.ajouterUtilisateur-form .input-control.error select:hover {
  background-color: rgb(255, 200, 200);
  box-shadow: 0 0 20px 5px rgba(255, 145, 145, 0.5);
}

.ajouterUtilisateur-form .input-control.success input:hover,
.ajouterUtilisateur-form .input-control.success select:hover {
  background-color: rgb(200, 255, 200);
  box-shadow: 0 0 20px 5px rgba(145, 255, 145, 0.5);
}

.ajouterUtilisateur-form .input-control.neutral input,
.ajouterUtilisateur-form .input-control.neutral select {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

.ajouterUtilisateur-form .input-control.error .errorMessage {
  font-size: 0.8em;
  color: red;
  margin-left: 10px;
}

.ajouterUtilisateur-form .input-control.success .errorMessage {
  font-size: 0.8em;
  color: rgb(0, 150, 0);
  margin-left: 10px;
}

.ajouterUtilisateur-form .message.error {
  font-size: 0.8em;
  color: red;
  margin-left: 10px;
}

.ajouterUtilisateur-form .message.success {
    font-size: 0.8em;
    color: rgb(0, 150, 0);
    margin-left: 10px;
  }
